body{
    background: white;
    color: black;
}
.header{
    background: white;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 12px;
    display: flex;
}
.logo{
    
}
.header_buttons{
    border: none;
    background: none;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px;
    margin: 0px 10px;
}
.header_buttons:hover{
    background: darkgreen;
    color: white;
}
.about{
    background: url(bg.jpg);
    background-size: cover;
    padding: 20px;
    padding-left: 20%;
    position: relative;
    mar
}
.about_text{
    background: none;
    width: 60%;
}
.about h1{
    color: Orange;
    margin-bottom: none;
    font-size: 50px;
    margin: -15px;
}
.about h2{
    color: white;
    font-size: 30px;
    margin: -15px;
}
.about h3{
    font-family: sans-serif;
    color: white;
    font-size: 20px;
}
.Reserve_btn{
    background: orange;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    padding: 7px;
}
.Reserve_btn:hover{
    background: darkorange;
}
.sample{
    position: absolute;
    right: 10%;
    bottom: -60%;
    background: url(sample.jpg);
    border-radius: 30px;
}
